<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>

   <div class="container mt-5">
       <h1 class="text-center">Welcome to Save and play</h1>
    <form method="POST" action="/login">
        <label  class="sr-only" >First name</label>
    <input type="first name" class="form-control" placeholder="first name" name="fname" required>
    <label  class="sr-only" >Last name</label>
    <input type="last name" class="form-control" placeholder="lastname"  name="lname" required>
    <label  class="sr-only" >Email</label>
    <input type="email" class="form-control" placeholder="enter email" name="usremail" required>
    <label  class="sr-only" >Password</label>
    <input type="password" class="form-control" placeholder="Enter password" name="psw" required>
    <label class="sr-only" >Re-enter password</label> 
    <input type="password" class="form-control" placeholder="Re enter password" name="repsw" required>
    <div class="text-center">
    <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </form>
    <h4>Already has account</h4>
    <a href="/login" class="btn btn-primary ">Go to login</a></div>
    </div>

  
    
</body>
</html>